openapi: 3.0.1
info:
  title: STD21028
  description: Hello World !
  version: 1.0.0
  
servers:
- url: https://std21028.com
tags:
- name: Students
- name: Courses

paths:
  /students:
    post:
      tags:
      - Students
      summary: Create new students
      requestBody:
        description: Students to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStudents'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateStudents'
        required: true
      responses:
        400:
          description: Bad request
          content: {}
        
    get:
      tags:
      - Students
      summary: Get all students
      description: Get all students
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
      responses:
        200:
          description: List of all students
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Students'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Students'
        400:
          description: Bad request 
          content: {}

components:
  schemas:
    Students:
      required:
      - name
      - id
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          example: string
    CreateStudents:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: string